<div >
    <div th:if="${sucesso} != null" >
        <script th:inline="javascript">

/*<![CDATA[*/

var sucesso = /*[[${sucesso}]]*/"";

/*]]>*/



swal({
  title: "Atencao!",
  text: ""+excessao,
  icon: "success",
  button: "Esta bem!",
});


</script>
    </div>

    <div th:if="${erro} != null"  >

        <script th:inline="javascript">

/*<![CDATA[*/

var erro = /*[[${erro}]]*/"";

/*]]>*/

swal({
  title: "Atencao!",
  text: ""+erro,
  icon: "danger",
  button: "Esta bem!",
});


</script>

    </div>

    <div th:if="${excessao} != null"  >

        <script th:inline="javascript">

/*<![CDATA[*/

var excessao = /*[[${excessao}]]*/"";

/*]]>*/

swal({
  title: "Atencao!",
  text: ""+excessao,
  icon: "warning",
  button: "Esta bem!",
});

</script>

    </div>
</div>