<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}" Xmlns:th="http://www.thymeleaf.org"
      xmlns:Xmlns="http://www.w3.org/1999/xhtml"
      Xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>
<body>

<div layout:fragment="corpo">


        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Cadastrar Ocorrencia</h5>
                    <div class="ibox-tools">
                        <h5>
                            <a th:href="@{/listar/ocorrencias}">
                                <button class="btn btn-primary " type="button"><i class="fa fa-edit"></i>Listar Ocorrencia</button>
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="ibox-content">
                    <form th:object="${ocorrencia}" id="form"  th:action="@{/cadastrar/ocorrencia}" method="post">


                        <div class="row">

                            <div class="col-md-6">
                                <label class="col-form-label">Nome</label>
                                <div class="input-group user" >
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" style="width:90%" name="nome" th:field="*{nome}" placeholder="Nome" >
                                </div>
                            </div>

                            <div class="col-md-6" >
                                <label class="col-form-label">Telefone</label>
                                <div class="input-group user" >
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input type="number" class="form-control" style="width:90%" name="telefone" th:field="*{telefone}" placeholder="" >
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label class="col-form-label">Nivel de Resolucao</label>
                                <div class="input-group user">
                                    <span class="input-group-addon"><i class="fa fa-signal"></i></span>
                                    <select class="form-control m-b" style="width:90%" name="nivel" th:field="*{nivel}"  >
                                        <option th:each="p : ${nivelResolucoes}" th:value="${p.id}" th:text="${p.designacao}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6"  >
                                <label class="col-form-label">Email</label>
                                <div class="input-group user" >
                                    <span class="input-group-addon"><i class="fa fa-envelope-open"></i></span>
                                    <input type="email" class="form-control" style="width:90%" name="email"  th:field="*{email}"  placeholder="" >
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label class="col-form-label">Projecto</label>
                                <div class="input-group user">
                                    <span class="input-group-addon"><i class="fa fa-signal"></i></span>
                                    <select class="form-control m-b" style="width:90%" name="nivel" th:field="*{nivel}"  >
                                        <option th:each="p : ${projectos}" th:value="${p.id}" th:text="${p.designacao}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-form-label">Provincia</label>
                                <select class="form-control m-b" style="width:90%" name="nivel" th:field="*{provinciaActividade}"  >
                                    <option th:each="p : ${Provincias}" th:value="${p.id}" th:text="${p.designacao}"></option>
                                </select>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label class="col-form-label">Canal de Entrada</label>
                                <div class="input-group user">
                                    <span class="input-group-addon"><i class="fa fa-signal"></i></span>
                                    <select class="form-control m-b" style="width:90%" name="nivel" th:field="*{nivel}"  >
                                        <option th:each="p : ${canaisEntradas}" th:value="${p.id}" th:text="${p.designacao}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-form-label">Tipo de Alerta</label>
                                <select class="form-control m-b" style="width:90%" name="nivel" th:field="*{tipoOcorrencia}"  >
                                    <option th:each="p : ${tipoOcorrencias}" th:value="${p.id}" th:text="${p.designacao}"></option>
                                </select>

                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-5">
                                  <button class="btn btn-primary btn-sm" type="submit" >
                                      <i class="fa fa-save"></i> Gravar Ocorrencia
                                  </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>

<div class="row" layout:fragment="js">

    <script type="text/javascript">
        $(document).ready(function(){

            $('#form').validate({

                rules:{

                    nome:{
                        required: true,
                        maxlength: 200,
                        minlength: 2
                    },
                    telefone:{
                        required: true,
                        maxlength: 9,
                        minlength: 9
                    },
                    username:{
                        required: true
                    },
                    email:{
                        required: true,
                        email: true
                    }


                }

            });
        });
    </script>

</div>

</body>
</html>
